main {
    margin-left: -10px;
    max-width: 100%;
    width: 100%;
    color: white;
    z-index: 99;
    position: absolute;
    margin: 0 auto;
    padding: 120px 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  h1,
  h2,
  h3,
  blockquote,
 #blockquote2 {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  
  
  
  
  header {
    // background: var(--dark-bg);
    background: rgba(0, 0, 0, 0.623);
    grid-column: 2/12;
    padding: 2rem;
    text-align:center ;
    min-height: 18rem !important;
    margin-bottom: var(--spacing);
    border-radius: 10px;
    position: relative;
  }
  
  .welcome {
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
    left: 50%;
transform: translateX(-50%);
  }
  
  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }
  
  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  
  }
  
 #blockquote2 {
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
    background-color: white;
    padding: 1rem;
  }
  
 #blockquote2 p {
    color: black;
    font-size: 3rem;
    display: inline;
    line-height: 1;
  }
  
  blockquote p {
    color: black;
    font-size: 4rem;
    background-color: white;
    display: inline;
    line-height: 1;
  }
  
  .left {
    grid-column: 4 / 12;
  }
  
  /*text  */
  .bg-word{
    // background: var(--dark-bg);
    border-radius: 10px;
  }
  .animate-charcter {
    
    text-transform: uppercase;
    min-height:9rem;
    font-size: 8rem;
    background-image: linear-gradient(-225deg,
        #c1cac6 0%,
        #e0e2df 29%,
        #3e13ff 67%,
        #00c3ff 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: rgb(150, 167, 223);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    /* font-size: 190px; */
    align-items: center;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  .animate {
    margin: auto;
    /* color: white; */
    /* font: 700 normal 2.5em 'tahoma'; */
    /* text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; */
  }
  
  /* welcoem */
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 25px;
    width: 100%;
  }
  
  .waviy span {
    text-align: center;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
  
  }
  
  @keyframes waviy {
  
    0%,
    40%,
    100% {
      transform: translateY(0)
    }
  
    20% {
      transform: translateY(-5px)
    }
  }
  
  
  .rgb-shadow,
  .rgb-shadow:before {
    background: linear-gradient(90deg, #dd00f3, #dd00f3, #2b1de8, #1ddde8, #1de840, #e3e81d, #e8b71d, #e81d1d, #ff2400, #dd00f3, #dd00f3, #2b1de8, #1ddde8, #1de840, #e3e81d, #e8b71d, #e81d1d, #ff2400, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 400%;
    -webkit-animation: glowing 20s linear infinite;
    animation: glowing 20s linear infinite;
  }
  
  .h-4 {
    height: 1rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .w-full {
    width: 100%;
  }
  
  .rgb-shadow {
    filter: blur(5px);
  }
  
  @media screen and (max-width: 1200px) {
    .custom-scrollbar::-webkit-scrollbar {
      width: 6px;
    }
    .animate-charcter{
      font-size: 2rem;
      min-height:unset;
    }
    .bg-word{
      background: var(--dark-bg);
    }
    header{
      background: unset;
      min-width: none;
      grid-column: 2/12;
      min-height: 44rem !important;
    }
    .waviy {
      position: relative;
      -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
      font-size: 10px;
    }
    blockquote p {
      color: black;
      font-size: 3rem;
      background-color: white;
      display: inline;
      line-height: 1;
  }
  
  section {
    grid-column: 2 / 12;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }
  .left {
    grid-column: 2/ 12;
  }
  }
  
  
  
  .rgb-shadow:before {
    content: "";
    filter: blur(10px);
    width: 100%;
    height: calc(100% + 5px);
    position: absolute;
    top: -5px;
    left: 0;
    animation:glowing 20s linear infinite 
  }
  
  @-webkit-keyframes glowing {
    0% {
      background-position: 0 0
    }
  
    to {
      background-position: 400% 0
    }
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0
    }
  
    to {
      background-position: 400% 0
    }
  }
  
  @-webkit-keyframes glowing-reverse {
    0% {
      background-position: 400% 0
    }
  
    to {
      background-position: 0 0
    }
  }
  
  @keyframes glowing-reverse {
    0% {
      background-position: 400% 0
    }
  
    to {
      background-position: 0 0
    }
  }