<main>

    <header>
      <div class="bg-word">
        <h1 class="word animate-charcter" appTypewriter [words]="words" [speed]="speed" [skipDelay]="skip_delay"></h1>
      </div>
      <!-- <h1 class="animate-charcter ">Jensen</h1> -->
      <div class="welcome">
        <div class="waviy">
        <span style="--i:1">🚀&nbsp;</span>
        <span style="--i:2">W</span>
        <span style="--i:3">E</span>
        <span style="--i:4">L</span>
        <span style="--i:5">C</span>
        <span style="--i:6">O</span>
        <span style="--i:7">M</span>
        <span style="--i:8">E</span>
        <span style="--i:9">&nbsp;</span>
        <span style="--i:10">T</span>
        <span style="--i:11">O</span>
        <span style="--i:12">&nbsp;</span>
        <span style="--i:13">M</span>
        <span style="--i:14">Y</span>
        <span style="--i:15">&nbsp;</span>
        <span style="--i:16">W</span>
        <span style="--i:17">E</span>
        <span style="--i:18">B</span>
        <span style="--i:19">S</span>
        <span style="--i:20">I</span>
        <span style="--i:21">T</span>
        <span style="--i:22">E</span>
     
       </div>
      </div>
    </header>


    <blockquote>
      <p>I like making stuff and putting it on the internet</p>
    </blockquote>
   
    
    <section>
      <h2>🎓 What did I learn? 🧠</h2>
      <p>
        Angular, Typescript
      </p>

      <p>
        HTML, CSS, Bootstrap, TailwindCSS, Devextreme
      </p>

      <p>
        Node.js, Python, Vue Native
      </p>
      <p>MySQL, Mongo DB</p>
      <p>
        Git, Firebase
      </p>

    </section>

    <section class="light">
      <h2>👩🏽‍🚀 Projects</h2>
     
      
      <p>Thành thạo phát triển giao diện phần mềm y tế tại SUNS Software, bao gồm SUNS HIS và SUNS Clinic, tối ưu trải nghiệm người dùng với công nghệ web hiện đại, tích hợp hệ sinh thái y tế thông minh.
      </p>
      <p>LandingPage Dolphin<a target="_blank" href="https://dolphinjs.netlify.app/">view</a></p>
      <p>LandingPage Suns<a target="_blank" href="https://demojsthh.netlify.app/">view</a></p>
      <p>
        Jshop: Website shopping using Angular 12, Nodejs and MongoDB <a href="https://thh-jshop.netlify.app/#/" target="_blank">view</a>
      </p>
      <p>
        Jensen Store: App mobile shopping using Vue Native
      </p>
      <p>
        Reacing Game: App mobile using python & pyqt5
      </p>
      <p>
        JsChat: App Desktop using Electronjs, Angular 11 and FireBase
      </p>
    </section>

    <blockquote id="blockquote2">
      <p>Tôi thích xe hỏng, Đơn giản là bởi vì nó không có ích</p>
    </blockquote>

    <section class="left">
      <h2>🌮 Work History</h2>
      
      <h3>SUNS Software JSC - Front-end Developer <span style="float:right">7/2021 – 12/2023</span></h3>
      <p>
        Phát triển giao diện web responsive từ thiết kế Figma/Adobe sang HTML, CSS, JavaScript, đảm bảo pixel-perfect, sử dụng Angular 11/12/14 để tối ưu UI động. Tích hợp API .NET, xử lý lỗi, bảo trì hệ thống, áp dụng DevExtreme, jQuery, Tailwind CSS. Phối hợp với nhóm thiết kế và backend, hỗ trợ UX/UI, kiểm thử và fix bug hiệu quả.
      </p>
    </section>

    <blockquote>
      <p>Thanks for watching!</p>
    </blockquote>


    <div class="h-4 w-full absolute bottom-0 left-0 rgb-shadow"></div>
  </main>