<main>

    <header>
      <div  class="bg-word">

        <h1 class="word animate-charcter">{{part}}</h1>
      </div>
    
      <!-- <h1 class="animate-charcter ">Jensen</h1> -->
      <div class="welcome">
        <div class="waviy">
        <span style="--i:1">🚀&nbsp;</span>
        <span style="--i:2">W</span>
        <span style="--i:3">E</span>
        <span style="--i:4">L</span>
        <span style="--i:5">C</span>
        <span style="--i:6">O</span>
        <span style="--i:7">M</span>
        <span style="--i:8">E</span>
        <span style="--i:9">&nbsp;</span>
        <span style="--i:10">T</span>
        <span style="--i:11">O</span>
        <span style="--i:12">&nbsp;</span>
        <span style="--i:13">M</span>
        <span style="--i:14">Y</span>
        <span style="--i:15">&nbsp;</span>
        <span style="--i:16">W</span>
        <span style="--i:17">E</span>
        <span style="--i:18">B</span>
        <span style="--i:19">S</span>
        <span style="--i:20">I</span>
        <span style="--i:21">T</span>
        <span style="--i:22">E</span>
     
       </div>
      </div>
    </header>


    <blockquote>
      <p>I like making stuff and putting it on the internet</p>
    </blockquote>
   
    
    <section>
      <h2>🎓 What did I learn? 🧠</h2>
      <p>
        Javascript, Python, MySQL, Mongo DB
      </p>

      <p>
        HTML5, CSS, Bootstrap, TailwindCSS
      </p>

      <p>
        Vue Native, Node.js, Angular
      </p>
      <p>
        Git, Firebase
      </p>

    </section>

    <section class="light">
      <h2>👩🏽‍🚀 Projects</h2>
     
      
      
      <p>
        Jshop: Website shopping using Angular 12, Nodejs and MongoDB
      </p>
      <p>
        Jensen Store: App mobile shopping using Vue Native
      </p>
      <p>
        Reacing Game: App mobile using python & pyqt5
      </p>
      <p>
        JsChat: App Desktop using Electronjs, Angular 11 and FireBase
      </p>

      <h2>🏆 Accomplishments</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

    </section>

    <blockquote id="blockquote2">
      <p>Tôi thích xe hỏng, Đơn giản là bởi vì nó không có ích</p>
    </blockquote>

    <section class="left">
      <h2>🌮 Work History</h2>
      
      <h3>McDonalds</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h3>Burger King</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h3>Taco Bell</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

    </section>

    <blockquote>
      <p>Thanks for watching!</p>
    </blockquote>


    <div class="h-4 w-full absolute bottom-0 left-0 rgb-shadow"></div>
  </main>